@keyframes slideContinuous {
  0% {
    transform: translateX(-2%);
  }

  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-2%);
  }
}

.animate-slideContinuous {
  animation: slideContinuous 4s infinite;
}

.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: 50px;
  left: 120%;
  transform: translateX(-50%);
  padding: 6px 10px;
  background-color: #8a57c4;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  width: 100px;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
}
